.App {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

body{
  background: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.speeddial-bottom-rigth {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 16px;
  z-index: 1000;
}

.speeddial-bottom-rigth .p-speeddial {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.speeddial-bottom-rigth .p-speeddial-action {
  margin-bottom: 8px;
}

.speeddial-bottom-rigth .p-speeddial-button {
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.speeddial-bottom-rigth .p-speeddial-button:hover {
  background-color: #fd81fd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.speeddial-bottom-rigth .p-speeddial-action-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.speeddial-bottom-rigth .p-speeddial-action-button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.speeddial-bottom-rigth .p-tooltip {
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 0.875rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.speeddial-bottom-rigth .p-tooltip-arrow {
  color: #333;
}

.speeddial-bottom-rigth .p-tooltip .p-tooltip-text {
  margin: 0;
}

.speeddial-bottom-rigth .p-tooltip {
  opacity: 0;
  transition: opacity 0.3s;
}

.speeddial-bottom-rigth .p-tooltip.p-tooltip-active {
  opacity: 1;
}

@media (max-width: 768px) {
  .speeddial-bottom-rigth {
      right: 16px;
      bottom: 16px;
  }

  .speeddial-bottom-rigth .p-speeddial-action {
      margin-bottom: 4px;
  }
}


@media (max-width: 599px) {
  .App-logo {
    height: 30vmin;
  }

  .App-header {
    font-size: calc(8px + 2vmin);
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .App-logo {
    height: 35vmin;
  }

  .App-header {
    font-size: calc(9px + 2vmin);
  }
}

@media (min-width: 900px) {
  .App-logo {
    height: 40vmin;
  }

  .App-header {
    font-size: calc(10px + 2vmin);
  }
}