.form-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }
  
  .card h5 {
    margin-bottom: 20px;
  }
  
  .field {
    margin-bottom: 20px;
  }
  
  .field .p-float-label {
    width: 100%;
  }
  
  .field .p-inputtext {
    width: 100%;
  }
  
  .p-error {
    color: #f5222d;
  }
  
  .dialog-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  
  .dialog-success .pi-check-circle {
    font-size: 5rem;
    color: var(--green-500);
  }
  
  .dialog-success h5 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .dialog-success p {
    line-height: 1.5;
    text-indent: 1rem;
  }
  
  .p-button {
    margin-top: 20px;
  }
  
  .p-button:not(:last-child) {
    margin-right: 10px;
  }
  
  .p-password-panel {
    width: 100%;
  }
  
  .p-password-panel .p-password-mask {
    width: calc(100% - 3.5rem);
  }
  
  @media (max-width: 599px) {
    .card {
        width: 90%;
        padding: 15px;
    }

    .card h5 {
        font-size: 1.2rem;
        margin-bottom: 15px;
    }

    .dialog-success .pi-check-circle {
        font-size: 4rem;
    }

    .dialog-success h5 {
        font-size: 1.5rem;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .p-button {
        margin-top: 15px;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .card {
        width: 80%;
        padding: 18px;
    }

    .card h5 {
        font-size: 1.3rem;
        margin-bottom: 18px;
    }

    .dialog-success .pi-check-circle {
        font-size: 4.5rem;
    }

    .dialog-success h5 {
        font-size: 1.7rem;
        margin-top: 18px;
        margin-bottom: 8px;
    }

    .p-button {
        margin-top: 18px;
    }
}

@media (min-width: 900px) {
    .card {
        width: 400px;
    }

    .card h5 {
        font-size: 1.5rem;
    }

    .dialog-success .pi-check-circle {
        font-size: 5rem;
    }

    .dialog-success h5 {
        font-size: 1.8rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .p-button {
        margin-top: 20px;
    }
}