.content {
    background-color: azure;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.reserva-detail {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .loading {
    text-align: center;
    margin-top: 50px;
  }
  
  @media (max-width: 768px) {
    .reserva-detail {
      margin: 10px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .reserva-detail {
      margin: 5px;
      padding: 5px;
    }
  }
  